@model IndexViewModel
@{
    Model.Title = "Home";
}
<div class="text-center">
    <h1 class="display-4 text-left">Zundoko.Web</h1>
    <ul class="list-group">
        @foreach (var song in Model.Songs)
        {
            <li class="btn btn-light text-left"><a href="/Play/@song.PlayName">@song.Title</a></li>
        }
    </ul>
</div>
