@model IndexViewModel
@{
    Model.Title = "Home";
}
<div class="text-center">
    <h1 class="display-4 text-left">Zundoko.Web</h1>
    <div class="list-group">
        @foreach (var song in Model.Songs)
        {
            <a class="text-left list-group-item list-group-item-action" href="/Play/@song.PlayName">@song.Title</a>
        }
    </div>
</div>
