@model IndexViewModel
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Zundoko.Web</h1>
    <ul class="list-group">
        @foreach (var song in Model.Songs)
        {
            <li class="list-group-item text-left"><a href="api/play/z">@song.Title</a></li>
        }
    </ul>
</div>
