@model PlayViewModel
<div class="text-center">
    <h1 class="display-4">@Model.Song.Title</h1>
    <div>
        @foreach (var phrase in Model.PlayResult.SingerPhrases)
        {
            <span>@phrase</span>
        }
        <br />
        @if (Model.PlayResult.IsSucceed)
        {
            <span>@Model.PlayResult.AudiencePhrase</span>
        }
        else
        {
            <p>残念……。</p>
        }
    </div>
    <hr />
    <a class="btn btn-link" href="">Replay</a>
    <a class="btn btn-link" asp-controller="Index" asp-action="Index">Back</a>
</div>
