name: Build

on:
  push:
    paths:
      - src/**
      - .github/workflows/Build.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        uses: actions/setup-dotnet@v1
      - name: Build and Test
        run: |
          cd "${GITHUB_WORKSPACE}/${SOLUTION_DIR}/"
          dotnet nuget add source ${NUGET_SOURCE} -u ${NUGET_USER} -p ${NUGET_PASS} --store-password-in-clear-text
          dotnet build
          dotnet test
    env:
      SOLUTION_DIR: ./src/ZundokoSolution
      NUGET_SOURCE: https://nuget.pkg.github.com/gozolop-core/index.json
      NUGET_USER: ${{ secrets.NUGET_USER }}
      NUGET_PASS: ${{ secrets.NUGET_PASS }}
