name: Deploy CFn Stack

on:
  push:
    branches:
      - main
      - develop
    paths:
      - infra/**
      - .github/workflows/deploy_cfn.yml

jobs:
  deploy_cfn:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_IAM_ROLE }}
      - name: Deploy
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: zundoko-stack
          template: ./infra/template.yml
          no-fail-on-empty-changeset: "1"
