name: Publish Web

on:
  push:
    branches:
      - master
    paths:
      - src/**
      - .github/workflows/Publish_Web.yml
      - Dockerfile

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_IAM_ROLE }}
      - uses: aws-actions/amazon-ecr-login@v1
        id: login-ecr
      - name: Deploy to AWS
        env:
          AWS_ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          AWS_ECR_REPOSITORY: fizzbuzz
          DOCKER_IMAGE_TAG: latest
          NUGET_SOURCE: https://nuget.pkg.github.com/gozolop-core/index.json
          NUGET_USER: ${{ secrets.NUGET_USER }}
          NUGET_PASS: ${{ secrets.NUGET_PASS }}
        run: |
          docker build . --tag ${{ env.AWS_ECR_REGISTRY }}/${{ env.AWS_ECR_REPOSITORY }}:${{ env.DOCKER_IMAGE_TAG }}
          docker push ${{ env.AWS_ECR_REGISTRY }}/${{ env.AWS_ECR_REPOSITORY }}:${{ env.DOCKER_IMAGE_TAG }}
